@import 'node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@400&display=swap');


// reset

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}



// header

header {

    padding: 1rem 0;
    background-color: #202020;

    .logo {
        min-width: 150px;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
            padding: 0 .25rem;

            a {
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                color: #f8f8f8 !important;
            }
        }
        
    }


    .menu-right {
        font-size: 20px;

        a {
            color: #ffffff;
            margin-left: 20px;

            &:hover {
                text-decoration: none !important;
            }
        }
    }



    .cart-customlocation {
        .cartcounter {
            position: absolute;
            background-color: #6c757d;
            right: 2px;
            top: -5px;
            border-radius: 5px;
            font-size: 12px;
            padding: 0px 5px;
            z-index: -2;
        }
    }
}

.subheader {
    padding: .5rem;
    background-color: #f8f8f8;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;

}


.content {
    padding: 4rem 0;
}



.hero-home {
    padding: 30px;
    background: #008C9A;
    margin-bottom: 3rem;
}


.cat-home {

    margin-bottom: 3rem;

    .category-home {
        text-align: center;
        height: 400px;
        width: 100%;
        color: #fff;
    }

    .sneakers {
        background: url('../img/sneakers.jpg');
        background-size: cover;
        background-position: center;
    }

    .roupas {
        background: url('../img/roupas.jpg');
        background-size: cover;
        background-position: center;
    }

    .acessorios {
        background: url('../img/acessorios.jpg');
        background-size: cover;
        background-position: center;
    }
}


.widget {
    list-style-type: none;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}


.list-group {

    .is-active {
        background-color: rgb(230, 230, 230);
    }

    .list-group-item {
        margin-bottom: 0px;
    }

}

.input-text {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 5px;
}


footer {
    height: 300px;
    background-color: #f0f0f0;
}



// woocommerce

.woocommerce {

    .woocommerce-input-wrapper {
        width: 100%;
        display: block;
    }


    .products {

        li {

            .woocommerce-loop-product__title {
                color: #777777;
                text-transform: uppercase;
            }

            .price {
                color: #777777 !important;
                font-weight: 600 !important;
                font-size: .9em;
            }

            .button .product_type_simple {
                text-transform: uppercase;
            } 
        }
    }


    .cart_item {
        a {
            color: #202020;
        }
    }


    span.onsale {
        font-family: 'Oswald', sans-serif;
        min-height: 0;
        min-width: 0;
        padding: 10px 12px;
        font-weight: 400;
        position: absolute;
        text-align: center;
        line-height: normal;
        top: -.5em;
        left: -.5em;
        margin: 0;
        border-radius: 4px;
        background-color: #dc3545;
        text-transform: uppercase;
        color: #fff;
        font-size: .5em;
        letter-spacing: .1rem;
        z-index: 9;
    }

    .product p.price, .product span.price {
        color: #6c757d !important;
    }


}